#column_div 
 script.
  google.load('visualization', '1', {'packages':['corechart']});
  google.setOnLoadCallback(drawTable);
  function drawTable() {
   var data = new google.visualization.DataTable();
   data.addColumn('string', 'Name');   
   data.addColumn('number', 'Sum');
   var mydata =!{JSON.stringify(mydata2)}  
   for (var i=0; i<mydata.length; i++) {  
    data.addRow([mydata[i].name, mydata[i].sum]);
   }  
   var table = new google.visualization.ColumnChart(document.getElementById('column_div'));
   table.draw(data);
  }