doctype 5
html
 head
  title= title
  link(rel='stylesheet', href='css/style.css')
  script(src='js/jquery/dist/jquery.js')
  script(src='js/jquery-ui/ui/jquery-ui.js')  
  script(src='https://www.google.com/jsapi')
 body  
  include ./nav
  a(href='#{logouturl}') Logout
  hr
  block content
