a(href='./') All
a(href='./table') Table
a(href='./bar') Bar
a(href='./pie') Pie
a(href='./column') Column
form
 label(for='from') Date from:
 input#from_dt(type='text', name='from')
 label(for='to') Date to:
 input#to_dt(type='text', name='to')
 input#submit(type='submit', value='Submit')
 
script.
 $(document).ready(function() {
  $("#from_dt").datepicker({ dateFormat: 'mm-dd-yy'});
  $("#to_dt").datepicker({ dateFormat: 'mm-dd-yy'});
 });
