#pie_div 
 script.
  google.load('visualization', '1', {'packages':['corechart']});
  google.setOnLoadCallback(drawTable);
  function drawTable() {
   var data = new google.visualization.DataTable();
   data.addColumn('string', 'Name');   
   data.addColumn('number', 'Sum');
   var mydata =!{JSON.stringify(mydata2)}  
   for (var i=0; i<mydata.length; i++) {  
    data.addRow([mydata[i].name, mydata[i].sum]);
   }
   var options = {is3D: true};
   var table = new google.visualization.PieChart(document.getElementById('pie_div'));
   table.draw(data, options);
  }
