#table_div 
 script.
  google.load('visualization', '1', {packages:['table']});
  google.setOnLoadCallback(drawTable);
  function drawTable() {
   var data = new google.visualization.DataTable();
   data.addColumn('date', 'Date');
   data.addColumn('string', 'Name');  
   data.addColumn('number', 'Sum');
   var mydata =!{JSON.stringify(mydata1)}  
   for (var i=0; i<mydata.length; i++) {  
    data.addRow([new Date(mydata[i].date), mydata[i].name, mydata[i].sum]);
   }
   var options = {'showRowNumber': true};
   var table = new google.visualization.Table(document.getElementById('table_div'));
   table.draw(data, options);
  }