body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
form{
 margin: 2px 10px;
}
#from_dt, #to_dt{
 width: 70px; 
 height: 20px; 
 margin: 2px;
}
#submit{ 
 margin: 2px;
 padding: 5px;
 font-weight: bold; 
 font-size: 16px;
 border: none; 
 background-color: #dcdcdc;
}
a {
 min-width: 50px; 
 text-decoration: none;
}
a, .ui-datepicker-title, form{
 display: inline-block;
}
a, .ui-datepicker-title, .ui-datepicker-calendar thead{
  color: #000;  
 margin: 2px;
 padding: 5px;
 text-align: center;
 background-color: #dcdcdc;
 font-weight: bold;
 font-size: 16px; 
}
.ui-datepicker-title:hover, a:hover, .ui-datepicker-calendar thead:hover, #submit:hover{
 color: #fff; 
 background-color: #4169e1;
}
.ui-datepicker-prev, .ui-datepicker-next, #submit{
 cursor: pointer;
}
a, .ui-datepicker-title, .ui-datepicker-calendar thead, #submit{
 transition: all 0.6s ease-in-out; 
 -webkit-transition: all 0.6s ease-in-out;
 -moz-transition:: all 0.6s ease-in-out;
 -ms-transition: all 0.6s ease-in-out;
 -o-transition: all 0.6s ease-in-out; 
 opacity: 0.9;
 -moz-opacity: 0.9;
 -khtml-opacity: 0.9;
 -webkit-opacity: 0.9;
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
 filter: alpha(opacity=90);
}